<% include ../views/partials/header %>
<script
  src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""
></script>
<h3>Museums</h3>
<div class="row">
  <% muzeji.forEach(function(muzej){ %>
  <div class="col-md-2">
    <div class="card">
      <i class="fa fa-university"></i
      ><a href="/museum/<%=muzej.id%>"><%= muzej.name %></a>
    </div>
  </div>
  <% }) %>
</div>
<h3>Pieces</h3>
<div class="row">
  <% dela.forEach(function(delo){ %>
  <div class="col-md-2">
    <div class="card">
      <i class="fa fa-paint-brush"></i
      ><a href="/piece/<%=delo.id%>"><%= delo.name%></a>
    </div>
  </div>
  <% }) %>
</div>
