<% include ../views/partials/header %>
<h3>Add a new Museum</h3>
<a
  class="btn btn-primary"
  data-bs-toggle="collapse"
  href="#addmuseum"
  role="button"
  aria-expanded="false"
  aria-controls="addmuseum"
  >Add a new Museum</a
>
<div class="collapse" id="addmuseum">
  <div class="card">
    <form method="POST" action="/museum/add">
      <input type="text" name="name" placeholder="Name" />
      <br />
      <input type="text" name="ticketPrice" placeholder="Ticket price" />
      <br />
      <input type="text" name="type" placeholder="Type of museum" />
      <br />
      <input type="text" name="webLocation" placeholder="Web Location" />
      <br />
      <input type="text" name="workingHours" placeholder="Working hours" />
      <br />
      <input type="text" name="address" placeholder="Museum location" />
      <br />
      <input type="text" name="image" placeholder="Thumbnail image" />
      <br />
      <input
        type="submit"
        value="Add Museum"
        class="btn btn-outline-dark btn-sm"
      />
    </form>
  </div>
</div>
<h3>Update Museum values</h3>
<a
  class="btn btn-primary"
  data-bs-toggle="collapse"
  href="#updatemuseum"
  role="button"
  aria-expanded="false"
  aria-controls="updatemuseum"
  >Update a Museum</a
>
<div class="collapse" id="updatemuseum">
  <div class="card">
    <form method="PUT" action="/museum/put">
      <input type="text" name="name" placeholder="Name" />
      <br />
      <input type="text" name="ticketPrice" placeholder="Ticket price" />
      <br />
      <input type="text" name="type" placeholder="Type of museum" />
      <br />
      <input type="text" name="webLocation" placeholder="Web Location" />
      <br />
      <input type="text" name="workingHours" placeholder="Working hours" />
      <br />
      <input type="text" name="address" placeholder="Museum location" />
      <br />
      <input type="text" name="image" placeholder="Thumbnail Image" />
      <br />
      <br />
      <input
        type="submit"
        value="Update Museum"
        class="btn btn-outline-dark btn-sm"
      />
    </form>
</div>
</div>
<br/>
<br/>
    <form method="DELETE" action="/museum/:id">
      <input
        type="submit"
        value="Delete Museum"
        class="btn btn-danger btn-sm"
      />
    </form>
    <h3>Add a new Piece</h3>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#addpiece"
      role="button"
      aria-expanded="false"
      aria-controls="addpiece"
      >Add a new Piece</a
    >
    <div class="collapse" id="addpiece">
      <div class="card">
        <form method="POST" action="/piece/add">
          <input type="text" name="name" placeholder="Name" />
          <br />
          <input type="text" name="author" placeholder="Author" />
          <br />
          <input type="text" name="type" placeholder="Type of art" />
          <br />
          <input type="text" name="description" placeholder="Desription" />
          <br />
          <input
            type="text"
            name="link"
            placeholder="Link for augmented reality"
          />
          <br />
          <input type="text" name="image" placeholder="Image" />
          <br />
          <input
            type="submit"
            value="Add Piece of Art"
            class="btn btn-outline-dark btn-sm"
          />
        </form>
      </div>
    </div>
    <h3>Update Piece values</h3>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#updatepiece"
      role="button"
      aria-expanded="false"
      aria-controls="updatepiece"
      >Update a Piece</a
    >
    <div class="collapse" id="updatepiece">
      <div class="card">
        <form method="PUT" action="/piece/put">
          <input type="text" name="name" placeholder="Name" />
          <br />
          <input type="text" name="type" placeholder="Type of art" />
          <br />
          <input type="text" name="author" placeholder="Piece author" />
          <br />
          <input type="text" name="description" placeholder="Description" />
          <br />
          <input
            type="text"
            name="link"
            placeholder="Link for augmented reality"
          />
          <br />
          <input type="text" name="image" placeholder="Image" />
          <br />
          <input
            type="submit"
            value="Update Piece of Art"
            class="btn btn-outline-dark btn-sm"
          />
        </form>
      </div>
    </div>
<br/>
<br/>
    <form method="DELETE" action="/piece/:id">
      <input type="submit" value="Delete Piece" class="btn btn-danger btn-sm" />
    </form>
    <h3>Add piece to a museum</h3>
    <form method="POST" action="/museumpiece/connect">
      <input type="text" name="nameM" placeholder="Museum name" />
      <br />
      <input type="text" name="nameP" placeholder="Piece name" />
      <br />
      <input
        type="submit"
        value="Add Piece of Art"
        class="btn btn-outline-dark btn-sm"
      />
    </form>

    <h3>Add distance beteween museums</h3>
    <form method="POST" action="/museumtomuseum/connectmuseums">
      <input type="text" name="name1" placeholder="Start museum" />
      <input type="text" name="name2" placeholder="End museum" />
      <input type="text" name="distance" placeholder="Distance" />
      <input
        type="submit"
        value="Add distance"
        class="btn btn-outline-dark btn-sm"
      />
    </form>
    <% include ../views/partials/footer %>
  </div>
</div>
