<h3>Update Piece values</h3>
<a
  class="btn btn-primary"
  data-bs-toggle="collapse"
  href="#updatepiece"
  role="button"
  aria-expanded="false"
  aria-controls="updatepiece"
  >Update a Piece</a
>
<div class="collapse" id="updatepiece">
  <div class="card">
    <form method="POST" action="/piece/edit/">
      <input id="nameId" type="text" name="name" placeholder="Name" value="<%= name%>" >
      <br />
      <input type="text" name="type" placeholder="Type of art" >
      <br />
      <input type="text" name="author" placeholder="Piece author" >
      <br />
      <input type="text" name="description" placeholder="Description">
      <br />
      <input
        type="text"
        name="link"
        placeholder="Link for augmented reality"
      />
      <br />
      <input type="text" name="image" placeholder="Image" />
      <br />
      <input
        type="submit"
        value="Update Piece of Art"
        class="btn btn-outline-dark btn-sm"
      />
    </form>
  </div>
</div>